header {
    background-color: #818274;
}
header img{
    width: 90x;
    height: 90px;
}
p {
    font-size: 20px;
}
.sulki {
    text-decoration: none;
    font-size: 35px;
    border: 2px solid black;
    padding: 6px;
    border-radius: 15px;
    background-color: aliceblue;
}
.sulki_two{
    text-decoration: none;
    font-size: 35px;
    border: 2px solid black;
    padding: 6px;
    border-radius: 15px;
    background-color: aliceblue;
}
.sulki_dwa{
    text-decoration: none;
    font-size: 35px;
    border: 2px solid black;
    padding: 6px;
    border-radius: 15px;
    background-color: aliceblue;
}
h1 {
    text-align: center;
}
table {
    border: 3px solid black;
}
td {
    border: 3px solid black; 
    padding: 10px;
    background-color: blanchedalmond;
}
footer {
    background-color: #818274;
}
footer p{
    padding: 10px;
    background-color: white;
    border: 15px solid #818274;
}
